body {
  min-width: 360px;
}
header {
  min-width: 360px;
}
main {
  min-width: 360px;
}
footer {
  min-width: 360px;
}

.cast_flex_valign_center_burger {
  display: none;
}
.cast_flex_valign_center_phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cast_header_top_left_block {
  width: calc(50% + 72px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .cast_flex_valign_center_burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cast_flex_valign_center_phone {
    display: none;
  }
  .cast_header_top_left_block {
    width: calc(50% + 54px);
  }
}

.cast_tech_work_cap_1 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffd6d6;
  z-index: 10000;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid gray;
}
.cast_tech_work_cap_1 div {
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 580px) {
  .cast_tech_work_cap_1 {
    height: unset;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header {
    margin-top: 40px !important;
  }
}

.cast_font_weight_700 {
  font-weight: 700;
}

.cast_hide {
  display: none !important;
}
.cast_product-slide__color-circle.checked {
  border-width: 1px;
  border-color: #263740;
}
.cast_error_text_1 {
  color: red;
  font-size: 12px;
}
.cast_no_fined_search {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}
.cast_goto_link_podob_in_slider_2_action {
  text-decoration: none;
  border-bottom: none;
}
.cast_p_interval_1 p {
  margin-bottom: 20px;
}
.cast_p_interval_1 ul {
  margin-left: 20px;
}
.cast_p_interval_1 .showroom-photo__column {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cast-gal-photo-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.cast-gal-photo-1 img {
  margin: 0!important;
}
.cast-gal-photo-1-col-1 {
  width: 49%;
}
.cast-gal-photo-1-col-2 {
  width: 49%;
}
.cast-gal-photo-1-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.catalog-items {
  gap: 20px;
}

.cast_a_nostyle {
  border: none;
}

.basket-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: auto;
}
.product-slider img {
  max-height: 700px;
}

.product-favorite input.checked+svg path{stroke:#e5918a!important;fill:#e5918a!important}
.product-favorite input.checked:hover+svg path{stroke:#b76760!important;fill:#b76760!important}

.product-favorite-cart {
  opacity: 1 !important;
  position: relative !important;
  top: unset !important;
  left: unset !important;
  margin-bottom: 5px !important;
}

.lk-favorites {
  gap: 20px;
}

.swf-modal-1 {
  z-index: 100000000 !important;
}

.ya-share2__popup {
  top: 43px !important;
}

.no_found_prod_on_lk {
  margin: auto;
  font-size: 20px;
}

.product-slide__pic {
  cursor: pointer;
}

.swimsuit-block__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.swimsuit-img_cast_fixed_height_1 {
  max-height: 342.81px;
}

.color_filter_use_1 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-color: #dedede;
  border-width: 1px;
  border-style: solid;
  float: left;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color_filter_use_1_center {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: auto;
}

.cast_max_height_1 {
  max-height: 777px;
  min-width: 518px;
}
.cast_max_height_2 {
  max-height: 347.5px;
}
.cast_max_height_3 {
  max-height: 333px;
}

.product-slide__swiper .swiper-wrapper {
  max-height: 530px;
}

.id_filter_val_span__size {
  text-transform: uppercase;
}

@media (max-width: 1617px) {
  .cast_max_height_3 {
    height: 333px;
  }
  .cast_max_height_2 {
    height: 347.5px;
  }
  .cast_max_height_2 img {
    object-fit: cover;
  }
  .cast_max_height_3 img {
    object-fit: cover;
  }
}

@media (max-width: 1300px) {
  .cast_flex_fd_1 {
    flex-direction: row !important;
  }
  .brand-video a {
    height: 300px;
  }
  .brand-video picture img {
    object-fit: contain;
  }
  .cast_max_height_3 {
    height: unset;
  }
  .cast_max_height_2 {
    height: unset;
  }
}

@media (max-width: 1087px) {
  .cast_max_height_2 img {
    object-fit: contain;
  }
  .cast_max_height_3 img {
    object-fit: contain;
  }
  .swimsuit-block__pic {
    min-width: unset;
    -ms-flex-preferred-size: calc(33% - 10px);
    flex-basis: calc(33% - 10px);
  }
  .swimsuit-block__content {
    -ms-flex-preferred-size: calc(67% - 10px);
    flex-basis: calc(67% - 10px)
  }
}

@media (max-width: 750px) {
  .catalog-filter .filter-item span {
    width: 120px;
    justify-content: center;
    flex-direction: row;
  }
  .catalog-filter .filter-item span a {
    border-bottom: 0px solid #fff;
  }
  .catalog-filter .filter-item .cast_local_caption_div {
    width: 45px;
    justify-content: flex-start;
    flex-direction: row;
  }
}