body {
  min-width: 360px;
}
header {
  min-width: 360px;
}
main {
  min-width: 360px;
}
footer {
  min-width: 360px;
}

.cast_hide {
  display: none !important;
  /* opacity: 0.2 !important; */
}
.cast_product-slide__color-circle.checked {
  border-width: 1px;
  border-color: #263740;
}
.cast_error_text_1 {
  color: red;
  font-size: 12px;
}
.cast_no_fined_search {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}
.cast_goto_link_podob_in_slider_2_action {
  text-decoration: none;
  border-bottom: none;
}
.cast_p_interval_1 p {
  margin-bottom: 20px;
}
.cast_p_interval_1 ul {
  margin-left: 20px;
}
.cast_p_interval_1 .showroom-photo__column {
  margin-top: 0px;
  margin-bottom: 0px;
}

.product-slide {
  margin-right: 0px !important;
}
.catalog-items {
  gap: 20px;
}

.cast_a_nostyle {
  border: none;
}

.basket-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: auto;
}
.product-slider img {
  max-height: 700px;
}

.product-favorite input.checked+svg path{stroke:#e5918a;fill:#e5918a}
.product-favorite input.checked:hover+svg path{stroke:#b76760;fill:#b76760}

.product-favorite-cart {
  opacity: 1 !important;
  position: relative !important;
  top: unset !important;
  left: unset !important;
  margin-bottom: 5px !important;
}

.lk-favorites {
  gap: 20px;
}

.swf-modal-1 {
  z-index: 100000000 !important;
}

.ya-share2__popup {
  top: 43px !important;
}