.cast_hide {
  display: none !important;
  /* opacity: 0.2 !important; */
}
.cast_product-slide__color-circle.checked {
  border-width: 1px;
  border-color: #263740;
}
.cast_error_text_1 {
  color: red;
  font-size: 12px;
}
.cast_no_fined_search {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}
.cast_goto_link_podob_in_slider_2_action {
  text-decoration: none;
  border-bottom: none;
}

.product-slide {
  margin-right: 0px !important;
}
.catalog-items {
  gap: 20px;
}

.cast_a_nostyle {
  border: none;
}

.basket-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: auto;
}
.product-slider img {
  max-height: 700px;
}
